<!-- app/views/questions/_question.html.erb -->
<div id="question-<%= question.id %>" data-next-question-id="<%= next_question_id %>" data-prev-question-id="<%= previous_question_id %>">
  <p><%= question.word.title %></p>

  <form action="<%= question_path(question, format: :js) %>" method="post" class="question-form">
    <p>질문 <%= question_index %> / <%= total_questions %></p>

    <% choices.each do |choice| %>
      <div>
        <input type="radio" name="question[user_answer]" value="<%= choice %>">
        <label><%= choice %></label>
      </div>
    <% end %>
    <input type="hidden" name="question[answered]" value="true">
  </form>
</div>
