

<h1>퀴즈 목록</h1>
<%= button_to '新しく単語帳を始める', create_quiz_path, method: :post, class: 'button' %><div class="quizzes">
  <% @quizzes.each do |quiz| %>
    <div class="quiz">
      <h2><%= quiz.title %></h2>
      <p>점수: <%= quiz.score || '아직 채점되지 않음' %></p>
        <%= link_to '回答を見る', results_quiz_path(quiz), class: 'button' %>
        <%= link_to '続きから', continue_quiz_path(quiz), class: 'button' %>
        <%= link_to 'もう一度やる', restart_quiz_path(quiz), class: 'button' %>
    </div>
  <% end %>
</div>

<%= paginate @quizzes %>
