<!-- app/views/quizzes/results.html.erb -->

<div class="quiz-result-box">
  <p class="quiz-result-title">結果</p>
  <p class="quiz-result-score">
    あなたのスコア: <%= @quiz.score %> / <%= @results.length %>
  </p>

  <table class="table">
    <thead>
    <tr>
      <th>単語</th>
      <th>あなたの回答</th>
      <th>結果</th>
    </tr>
    </thead>
    <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result[:word].title %></td>
        <td><%= result[:user_answer] %></td>
        <td><%= result[:correct] ? '正解' : '不正解' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>




<%= link_to '戻る', quizzes_path, class: 'button' %>
</div>