<style>
    .highlighted {
        background-color: #f0f8ff; /* 원하는 색상으로 변경 가능 */
    }

</style>

<div class="ranking-index-box">
<p class = "ranking-index-title">ランク</p>
<table>
  <thead>
  <tr>
    <th>순위</th>
    <th>사용자명</th>
    <th>정답률</th>
  </tr>
  </thead>
  <tbody>
  <% @user_correct_rates.each_with_index do |data, index| %>
    <tr class="<%= 'highlighted' if data[:user] == current_user %>">
      <td><%= index + 1 %></td>
      <td>
        <% if data[:user] == current_user %>
          <strong><%= data[:user].username %></strong>
        <% else %>
          <%= data[:user].username %>
        <% end %>
      </td>      <td><%= data[:correct_rate].round(2) %>%</td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>

