<div class="tag-index-box">

<p class="tag-index-title">単語タグマスタ</p>

<section class="tag-index-search">
  <%= form_with(url: tags_path, method: "get", local: true, html: { class: "form" }) do |form| %>
    <fieldset class="tag-index-search-field">
      <%= form.text_field :search, class: "tag-index-search-form", placeholder: "検索キーワードを入力してください" %>
      <%= form.submit "検索", class: "button" %>
    </fieldset>
  <% end %>
</section>

  <div class="tag-index-new">
        <%= link_to "new", new_tag_path, class: "button" %>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>name</th>
      <th>create date</th>
      <th>word number</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= link_to tag.name, tag_path(tag) %></td>
        <td><%= tag.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= tag.words.count %></td>

        <td>
          <%= link_to "修正", edit_tag_path(tag), class: "button" %>

          <!--삭제버튼만 button_to를 쓴 이유는 link_to로 하면 삭제가 아니라 문제 응시페이지로 가기때문-->
          <%= button_to '削除', tag_path(tag), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>


<div class="pagination">
<%= paginate @tags %>
  </div>
</div>
