<style>
    .title {
        text-align: center;
    }
    .container {
        max-width: 1200px;
        margin: 2rem auto;
        padding: 1rem;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 1rem;
    }
    th, td {
        padding: 1rem;
        border: 1px solid #ddd;
        text-align: left;
    }
    th {
        background-color: #4D4D4D;
        color: white;
    }
    .pagination {
        text-align: center;
        margin-top: 1rem;
    }
    .pagination a {
        color: #0078D7;
        margin: 0 0.5rem;
        text-decoration: none;
    }
    .search-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form-group {
        display: flex;
        justify-content: space-between;

        align-items: center;
        width: 100%;
    }
    .search-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    .menu ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    .menu ul li {
        margin-right: 0;
    }
    .menu ul li a {
        text-decoration: none;
        color: #282c34;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        transition: background-color 0.3s;
    }
    .menu ul li a:hover {
        background-color: #282c34;
        color: white;
    }
</style>


<h3 class="title">単語タグマスタ</h3>
<div class="container">

<section class="search-section">
  <%= form_with(url: tags_path, method: "get", local: true, html: { class: "form" }) do |form| %>
    <fieldset class="form-group">
      <%= form.text_field :search, class: "form-control half-width", placeholder: "検索キーワードを入力してください" %>
      <%= form.submit "検索", class: "button primary-button" %>
    </fieldset>
  <% end %>
</section>

  <div class="search-container menu">
    <ul>
      <li>
        <%= link_to "form", new_tag_path, class: "button primary-button" %>
      </li>
    </ul>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>name</th>
      <th>create date</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= tag.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= link_to "edit", edit_tag_path(tag), class: "button" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>


<div class="pagination">
<%= paginate @tags %>
  </div>
</div>