<style>
.title{
    text-align: center;
}
    .container {
        max-width: 1200px;
        margin: 2rem auto;
        padding: 1rem;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-group {
    display: flex;
    justify-content: space-between;

    align-items: center;
    width: 100%;
}
    .search-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .menu ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    .menu ul li {
        margin-right: 0;
    }
    .menu ul li a {
        text-decoration: none;
        color: #282c34;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        transition: background-color 0.3s;
    }
    .menu ul li a:hover {
        background-color: #282c34;
        color: white;
    }
</style>

<h3 class="title">単語マスタ</h3>
<div class="container">
  <section class="search-section">
    <div>
      <%= form_with(url: words_path, method: "get", local: true, html: { class: "form" }) do |form| %>
        <fieldset class="form-group">
          <%= form.select :column, [['title', 'title'], ['mean', 'mean'], ['tag', 'tag'], ['similar', 'similar']], { include_blank: 'Select column...' }, class: "form-control half-width" %>
          <%= form.text_field :search, placeholder: "検索キーワードを入力してください", class: "form-control full-width" %>
          <%= form.submit "検索", class: "primary-button" %>
        </fieldset>
      <% end %>
    </div>
  </section>
  <div class="search-container menu">
    <ul>
      <li>

          <%= link_to "Export", words_path(format: :csv, search: params[:search], column: params[:column]), class: "primary-button" %>
      </li>
      <li>

          <%= link_to "New", new_word_path %>
      </li>
    </ul>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>N°</th>
      <th>title</th>
      <th>mean</th>
      <th>tag</th>
      <th>similar word</th>
      <th>create date</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @words.each_with_index do |word, index| %>
      <tr>
        <td><%= index + 1 + ((@words.current_page - 1) * @words.limit_value) %></td>
        <td><%= word.title %></td>
        <td><%= word.mean %></td>
        <td>
          <%= word.tags.map(&:name).join(', ') %>
        </td>
        <td>
          <%= word.similars.map(&:similar).join(', ') %>
        </td>
        <td><%= word.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= link_to "修正", edit_word_path(word), class: "button" %>

          <!--삭제버튼만 button_to를 쓴 이유는 link_to로 하면 삭제가 아니라 문제 응시페이지로 가기때문-->
          <%= button_to '削除', word_path(word), method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="pagination">
    <%= paginate @words %>
  </div>
</div>
