<!DOCTYPE html>
<html lang="en">
<head>
  <title>Practice</title>
  <meta name="csrf-param" content="<%= request_forgery_protection_token %>">
  <meta name="csrf-token" content="<%= form_authenticity_token %>">
  <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', type: 'module' %>
  <style>
      body {
          font-family: 'Arial', sans-serif;
          margin: 0 auto;
          padding: 0;
      }

      header {
          background-color: #f8f9fa;
          padding: 1rem;
      }
      nav {
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
      .nav-l, .nav-r {
          flex: 1;
      }
      .nav-c {
          flex: 2;
          text-align: center;
      }
      #title {
          font-size: 1.5rem;
          color: #333;
          text-decoration: none;
      }

      /* 페이징 스타일 */
      .pagination {
          display: flex;
          justify-content: center;
          margin-top: 10px;
          border-top: none;
      }

      .pagination a,
      .pagination span {
          margin: 0 3px;
          padding: 8px 8px;
          border-radius: 1px;
          text-decoration: none;
          color: #000000;

      }

      .pagination .current,
      .pagination a:hover {
          background-color: #000000;
          color: white;
          border-color: #f2f2f2;
      }
  </style>
</head>
<body>

<header>
  <nav>
    <div class="nav-l"></div>
    <div class="nav-c">
      <% if current_user %>
        <a id="title" href="<%= main_menu_path %>">単語帳</a>
      <% else %>
        <a id="title" href="<%= login_path %>">単語帳</a>
      <% end %>
    </div>
    <div class="nav-r"></div>
  </nav>
</header>
<inner>
  <%= yield %>
</inner>
<%= javascript_include_tag 'application', 'data-turbo-track': 'reload', type: 'module' %>
</body>
</html>
